.header {
  position: relative;
  background-color: $p;
  box-shadow: 0px 0px 10px rgba(#000, 0.2);
  padding: 10px 0;
  .navbar {
    padding: 0px;
    background-color: transparent !important;
    .dropdown {
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
    }
    .navbar-brand {
      img {
        height: 40px;
      }
    }
    .nav-link {
      font-size: 20px;
      font-weight: 100;
      letter-spacing: -1px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;
      span.count {
        background-color: $a;
        color: #fff;
        padding: 1px 5px;
        border-radius: 3px;
        position: absolute;
        top: 15px;
        right: -5px;
        font-size: 12px;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .cartwrapper {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $p;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $a;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $a;
    }

    .cartItem {
      background-color: rgba($p, 0.2);
      backdrop-filter: blur(10px);
      transition: all 0.5s ease;
      box-shadow: none;
      figure {
        img {
          height: 120px;
          width: 120px;
          object-fit: cover;
          object-position: center top;
        }
      }
      &:hover {
        box-shadow: 0px 10px 20px rgba(#000, 0.2);
      }
      .info {
        .title {
          font-size: 16px;
        }
      }
      .action {
        text-align: center;
        position: absolute;
        right: 10px;
        top: 10px;
        a {
          height: 30px;
          width: 30px;
          border-radius: 30px;
          line-height: 30px;
          cursor: pointer;
          background-color: #fff;
          display: block;
          color: $p;
        }
      }

      .quantity {
        input {
          width: 100px;
          padding: 0 10px;
          border: none;
          box-shadow: none;
          &:hover,
          &:focus {
            box-shadow: none;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
  .slideBar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.3);
    backdrop-filter: blur(10px);

    top: 0;
    right: 0;
    display: none;

    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .container {
      height: 100%;
      height: 100vh;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .sidebar_cart {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .favourites_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .actions {
      a {
        background-color: #fff;
        display: block;
        color: $p;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .login_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .actions {
      a {
        background-color: #fff;
        display: block;
        color: $p;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .forget_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .actions {
      a {
        background-color: #fff;
        display: block;
        color: $p;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .signup_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .actions {
      a {
        background-color: #fff;
        display: block;
        color: $p;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .forgetPassword {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;

    .actions {
      a {
        background-color: #fff;
        display: block;
        color: $p;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }
  .search_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;
    .searchHistory {
      height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $p;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $a;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $a;
      }

      .item {
        a {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
          transition: all 0.5s ease;
          &:hover {
            background-color: rgba($p, 0.1);
            padding-left: 10px;
          }
        }
      }
    }
    .searchbar {
      .btn_search {
        background-color: $a;
        border: none;
        color: #fff;
        width: 50px;

        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background-color: $p;
        }
      }
    }
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .notification_sidebar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    display: none;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;
    .notification {
      height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $p;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $a;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $a;
      }

      .item {
        padding: 10px;
        border: 1px solid rgba($p, 0.2);
        background-color: rgba($p, 0.1);
        margin-bottom: 10px;
        a {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
          transition: all 0.5s ease;
        }
      }
    }

    .searchbar {
      .btn_search {
        background-color: $a;
        border: none;
        color: #fff;
        width: 50px;

        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background-color: $p;
        }
      }
    }
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: center;
      flex-direction: column;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }

  .linkswrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .linkitem {
      background-color: rgba($color: #fff, $alpha: 0.2);
      backdrop-filter: blur(10px);
      padding: 30px;
      transition: all 0.5s ease;
      text-align: center;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: $p;
      }
      i {
        font-size: 30px;
      }
    }
  }
}

@keyframes fadeInRight {
  from {
    right: -2%;
  }
  to {
    right: 0%;
  }
}

.resendOTP {
  display: none;
}
