.header {
  position: relative;
  background-color: $p;
  box-shadow: 0px 0px 10px rgba(#000, 0.2);
  padding: 10px 0;
  .navbar {
    padding: 0px;
    background-color: transparent !important;
    .dropdown {
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
    }
    .navbar-brand {
      img {
        height: 40px;
      }
    }
    .nav-link {
      font-size: 20px;
      font-weight: 100;
      letter-spacing: -1px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      &:hover {
        color: #fff;
      }
    }
  }

  .slideBar {
    position: fixed;
    z-index: 999;
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    height: 100vh;
    box-shadow: -10px -20px 30px rgba(#000, 0.2);
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    .container {
      padding: 30px;
      .close {
        right: 15px;
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 40px;
        background-color: #fff;
        top: 15px;
        line-height: 40px;
        text-align: center;
        border-radius: 100px;
        i {
          color: $p;
        }
      }
    }
  }
  .linkswrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .linkitem {
      background-color: rgba($color: #fff, $alpha: 0.2);
      backdrop-filter: blur(10px);
      padding: 30px;
      transition: all 0.5s ease;
      text-align: center;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: $p;
      }
      i {
        font-size: 30px;
      }
    }
  }
}
