.video .imageCatalog img {
  width: 800px !important;
  height: 550px !important;
  object-fit: cover;
  object-position: center;
}

.catalog .imageCatalog figure img {
  width: 1300px !important;
  height: 400px !important;
  object-fit: cover;
  object-position: center;
}
