a {
  color: #fff;
  text-decoration: none !important;
  &:hover {
    color: #fff;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.action {
  .trigger {
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $p;
    }
  }
}
.flipX {
  transform: rotateY(-180deg);
}

figure {
  margin-bottom: 0px !important;
}

.xzoom-preview {
  height: 500px !important;
  width: 600px !important;
  background-color: #2f3131 !important;
  border: none !important;

  box-shadow: none !important;

  img {
    object-fit: cover;
    object-position: center center;
  }
}
.xzoom-source {
}

.xzoom-lens {
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}

.customradio {
  .form-check {
    position: relative;
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      height: 30px;
      width: 30px;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      transform: translate(-50%, -50%);
    }
  }
  input {
    display: none;
    &:checked + label {
      background-color: #fff;
      color: $p;
    }
  }
}

.customradiobig {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  .form-check {
    position: relative;
    margin: 0;
    min-width: 100px;
    padding: 0px !important;
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      width: 100%;
      height: 30px;
      padding: 0 10px;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      transform: translate(-50%, -50%);
    }
  }
  input {
    display: none;
    &:checked + label {
      background-color: #fff;
      color: $p;
    }
  }
}

.gap_small {
  gap: 7px;
}

.spinner {
  animation: spin 1000ms linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  span {
    &:hover {
      color: #fff !important;
    }
  }
}

.auth {
  .content {
    width: 90%;
  }
}

.devices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .device {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 20px;
    position: relative;
    .btn_remove {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      height: 30px;
      width: 30px;
      font-size: 16px;
      border-radius: 30px;
      line-height: 30px;
      background-color: $p;
      background-color: rgba(255, 255, 255, 0.06);
      // border: 1px solid red;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: $p !important;
      }
    }
  }
}

.loyalty {
  .tabwrapper {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav {
    border: none;
    gap: 20px;

    .nav-link {
      background-color: rgba(255, 255, 255, 0.06);
      border: none;
      border-radius: 0px;
      border: 1px solid transparent;
      border-bottom-color: transparent !important;
      color: #fff;
      position: relative;
      bottom: -1px;
      &:hover {
        color: #fff !important;
      }
    }
    .active {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 0;
    }
  }
}

.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
  background-color: $p;
}

.quantitywrapper {
  display: flex;
  input {
    width: 30px;
    border: none;
    display: inline-block !important;
    text-align: center !important;
    padding: 0px !important;
    color: #fff;
    background-color: rgba($p, 0.6);
    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .act {
    height: 30px;
    width: 30px;
    background-color: $p;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: $a;
      color: #fff;
    }
  }
}
