a {
  color: #fff;
  text-decoration: none !important;
  &:hover {
    color: #fff;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.action {
  .trigger {
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $p;
    }
  }
}
.flipX {
  transform: rotateY(-180deg);
}

figure {
  margin-bottom: 0px !important;
}

.xzoom-preview {
  height: 500px !important;
  width: 600px !important;
  background-color: #2f3131 !important;
  border: none !important;

  box-shadow: none !important;

  img {
    object-fit: cover;
    object-position: center center;
  }
}
.xzoom-source {
}

.xzoom-lens {
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}

.customradio {
  .form-check {
    position: relative;
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      height: 30px;
      width: 30px;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      transform: translate(-50%, -50%);
    }
  }
  input {
    display: none;
    &:checked + label {
      background-color: #fff;
      color: $p;
    }
  }
}

.customradiobig {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  .form-check {
    position: relative;
    margin: 0;
    min-width: 100px;
    padding: 0px !important;
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      width: 100%;
      height: 30px;
      padding: 0 10px;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      transform: translate(-50%, -50%);
    }
  }
  input {
    display: none;
    &:checked + label {
      background-color: #fff;
      color: $p;
    }
  }
}

.gap_small {
  gap: 7px;
}

.spinner {
  animation: spin 1000ms linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
