.btn_p {
  padding: 10px 20px;
  background-color: #fff;
}
.btn_small {
  padding: 3px 10px !important;
  font-size: 12px !important;
}

.btn_a_dim {
  background-color: rgba($color: $a, $alpha: 0.3);
}
.btn_dim {
  background-color: rgba($color: #fff, $alpha: 0.2);
  color: #fff !important;
}

.btn_fullwidth {
  width: 100%;
}
.btn {
  color: #fff;
  &:hover {
    color: #fff;
  }
  &:focus {
    box-shadow: none;
    border-color: transparent;
    outline: none;
  }
}
.btn_bordered {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent !important;
  &:focus {
    background-color: rgba($color: #fff, $alpha: 0.1) !important;
    color: #fff !important;
  }
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.1) !important;
    color: #fff;
  }
}

.btn_a {
  background-color: $a !important;
  border: 1px solid $a !important;
  color: #fff !important;
  &:focus {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: $a !important;
  }
  &:hover {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: $a !important;
  }
}

header {
  height: 10vh;

  background-color: rgba($color: #fff, $alpha: 0.1);
  // padding: 10px 0;
  .headerwrapper {
    .left {
      img {
        filter: brightness(1) invert(1);
        height: 50px;
      }
    }
    .right {
      img {
        height: 50px;
        width: 50px;
        border-radius: 100px;
        object-fit: cover;
        object-position: center;
        border: 2px solid #fff;
        margin-right: 10px;
      }
    }
  }
}

.mainBusiness {
  height: 90vh;
  aside {
    flex: 3;
    background-color: rgba($color: #fff, $alpha: 0.05);
  }
  .main {
    flex: 10;
    .tab-content {
      padding: 30px;
    }
  }
  aside,
  .main {
  }
  .scroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    &::-webkit-scrollbar {
      width: 2px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background: rgba($color: #fff, $alpha: 0.1);
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #fff, $alpha: 0.3);
      width: 1px;
      &:hover {
        width: 10px !important;
      }
    }
  }
  .leftmenu {
    .accordion-button {
      background-color: transparent;
      color: #fff;
      border-radius: 0px;
      display: flex;
      gap: 10px;
      &:hover {
        background-color: $p !important;
      }
      &::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
      }
    }

    .accordion-item {
      border: none;
      border-radius: 0px;
      background-color: transparent !important;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
      border-radius: 0px;
    }

    .active {
      background-color: $p !important;
    }

    .accordion-body {
      background-color: rgba($color: #fff, $alpha: 0.05) !important;
    }
    .noChild {
      .accordion-button {
        &::after {
          display: none;
        }
      }
    }
  }
  .main {
    .content {
      // background-color: red;
      table.dataTable thead th,
      table.dataTable thead td {
        padding: 10px;
      }
      .dataTables_wrapper {
        color: #fff !important;
        .bottom {
          display: flex;
          padding-top: 20px;
          align-items: center;
        }
        input {
          color: #fff !important;
        }
        select {
          color: #fff;
          option {
            color: #fff;
            background-color: $a;
          }
        }
      }
      table.dataTable tbody tr {
        background: transparent;
        cursor: copy;
      }
      table.display {
        position: relative;
        color: #fff !important;
        a {
          color: #fff;
          &:hover {
            color: $a;
          }
        }
        .dataTables_length {
          position: absolute;
          right: 0 !important;
        }
        input[type="checkbox"] {
          height: 20px;
          width: 20px;
          cursor: pointer;
          border-radius: 5px !important;
        }
        .selected {
          background-color: rgba(#fff, 0.2) !important;
        }

        td {
          border: none;
        }
        td {
          background-color: transparent !important;
        }
      }
      .nav-tabs {
        border: none;
        .nav-link {
          border-radius: 0px;
          color: #fff;
          background-color: rgba($color: #fff, $alpha: 0);
          border: 1px solid rgba(#fff, 0.2);
          padding: 10px 40px;
        }
        .active {
          // background-color: $a;
          color: #fff;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.stats {
  .infowrapper {
    margin-top: 20px;
    background-color: rgba($color: $p, $alpha: 1);
    padding: 30px;
    border: 2px solid rgba(#000, 0.2);
    border-radius: 10px;
    // box-shadow: 0px 0px 100px rgba($color: #000, $alpha: 0.1);

    position: relative;
    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(#000, 0.2);
      content: "";
      top: 10px;
      left: 10px;
      z-index: -1;
      border-radius: 10px;
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      // transform: scale(1.3);
    }
    .number {
      h3 {
        font-size: 50px;
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
    .text-muted {
      margin-top: -20px;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $a;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 30px;
      }
    }
    &:hover {
      &::before {
        top: -10px;
        left: -10px;
        // background-color: rgba($a, 1);
      }
      h3 {
        color: $a;
      }
    }
  }
}

.addAddress {
  padding: 30px;
  border: 1px dashed rgba(#fff, 0.2);

  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover {
    border-style: solid;
  }
  i {
    font-size: 25px;
    color: $a;
  }
}

.addAddressModal {
  .modal-body {
    padding: 30px;
    background-color: $p;
  }
  .modal-content {
    background: $p;
    box-shadow: 0px 10px 30px rgba(#000, 0.5);
  }
}

.form-select {
  background-color: rgba(#fff, 0.1);
  border-color: transparent;
  box-shadow: none;
  outline-color: transparent;
  color: #fff !important;
  option {
    background-color: $p !important;
    color: #fff !important;
  }
  &:focus {
    background-color: rgba(#fff, 0.1);
    border-color: transparent;
    box-shadow: none;
    outline-color: transparent;
  }
}

.modal {
  .modal-content {
    background-color: $p;
    .modal-header {
      background-color: $p;
      border-bottom: none;
    }
    .modal-footer {
      background-color: $p;
      border-top: none;
    }
    .modal-body {
      border: none;
    }
  }
}

.actionToggler {
  .actions {
    .action {
      i {
        font-size: 30px;
      }
    }
  }
}

.imageHover {
  position: relative;
  .original {
    position: absolute;
    top: 8px;
    left: calc(100% - 50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 200px;
    transition: all 0.5s ease-in-out;
    width: 200px;
    z-index: 9999;
    object-fit: cover;
    object-position: center;
  }
  &:hover {
    .original {
      opacity: 1;
      visibility: visible;
      top: 8px;
      left: 100%;
      // animation: fadeInRight 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
@keyframes fadeInRight {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: rgba(#fff, 0.1) !important;
  opacity: 1;
}

.darkCard {
  background-color: rgba(#000, 0.1);
  border: 1px solid rgba(#fff, 0.1);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #fff !important;
}

.dataTables_wrapper .dataTables_filter input {
  color: #fff !important;
}

.hasPopup {
  text-decoration: underline;
}

.mainBusiness {
  .menuList {
    margin-bottom: 30px;
    .listItemm {
      padding: 10px 30px;
      background-color: rgba(#fff, 0.1);
      a {
        color: #fff !important;
      }
    }
    .active {
      background-color: rgba($a, 1);
      a {
        color: #fff !important;
      }
    }
  }
}
