* {
  margin: 0;
  padding: 0;
}

.fullScreen {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Mollen;
  background-color: #2f3131;
  color: #fff;
}

a {
  text-decoration: none !important;
  color: #2f3131;
}

.flipX {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.gap {
  gap: 16px;
}

.btn_with_tooltip {
  position: relative;
}

.btn_with_tooltip .custom_tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1;
  min-width: 150px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: fadeInUp 0.5s ease;
          animation: fadeInUp 0.5s ease;
  visibility: hidden;
}

.btn_with_tooltip .custom_tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
  visibility: hidden;
}

.btn_with_tooltip:hover .custom_tooltip {
  opacity: 1 !important;
  visibility: visible !important;
}

.btn_with_tooltip:hover .custom_tooltip:after {
  visibility: visible !important;
}

.gap_small {
  gap: 8px;
}

.gap_big {
  gap: 24px;
}

.scrollable {
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  width: 100% !important;
  overflow-x: hidden;
}

.fullHeight {
  height: 100vh;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-check-input:checked {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.form-check-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
}

.form-control::-webkit-outer-spin-button, .form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-color: transparent;
}

::-moz-selection {
  background-color: #e95f71;
  color: #fff;
}

::selection {
  background-color: #e95f71;
  color: #fff;
}

@-webkit-keyframes fadeInUp {
  from {
    top: 10px;
  }
  to {
    top: 0;
  }
}

@keyframes fadeInUp {
  from {
    top: 10px;
  }
  to {
    top: 0;
  }
}

.dataTables_info {
  color: #fff !important;
}

.dataTables_length {
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  color: #fff !important;
}

select option {
  background: #2f3131;
  color: #fff !important;
}

.mainBusiness input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(233, 95, 113, 0.3);
  background-color: rgba(233, 95, 113, 0.1);
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mainBusiness input[type="checkbox"]::before {
  position: absolute;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: "";
  top: 5px;
  left: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
  width: 0px;
}

.mainBusiness input[type="checkbox"]:checked {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #e95f71;
}

.mainBusiness input[type="checkbox"]:checked::before {
  display: block;
  width: 12px;
}

.mainBusiness .tab-content {
  position: relative;
}

.mainBusiness .tab-content .actionToggler {
  position: absolute;
  z-index: 99;
  left: 40px;
}

.mainBusiness .tab-content .actionToggler .actions {
  margin: 0 !important;
}

.mainBusiness .tab-content .actionToggler .actions button {
  padding: 0px !important;
  color: #e95f71 !important;
  background-color: transparent !important;
  border: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: none !important;
}

.btn_p {
  padding: 10px 20px;
  background-color: #fff;
}

.btn_small {
  padding: 3px 10px !important;
  font-size: 12px !important;
}

.btn_a_dim {
  background-color: rgba(233, 95, 113, 0.3);
}

.btn_dim {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
}

.btn_fullwidth {
  width: 100%;
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  outline: none;
}

.btn_bordered {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent !important;
}

.btn_bordered:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}

.btn_bordered:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff;
}

.btn_a {
  background-color: #e95f71 !important;
  border: 1px solid #e95f71 !important;
  color: #fff !important;
}

.btn_a:focus {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #e95f71 !important;
}

.btn_a:hover {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #e95f71 !important;
}

header {
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.1);
}

header .headerwrapper .left img {
  -webkit-filter: brightness(1) invert(1);
          filter: brightness(1) invert(1);
  height: 50px;
}

header .headerwrapper .right img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 2px solid #fff;
  margin-right: 10px;
}

.mainBusiness {
  height: 90vh;
}

.mainBusiness aside {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: rgba(255, 255, 255, 0.05);
}

.mainBusiness .main {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.mainBusiness .main .tab-content {
  padding: 30px;
}

.mainBusiness .scroller {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}

.mainBusiness .scroller::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.mainBusiness .scroller::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  width: 2px;
}

.mainBusiness .scroller::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  width: 1px;
}

.mainBusiness .scroller::-webkit-scrollbar-thumb:hover {
  width: 10px !important;
}

.mainBusiness .leftmenu .accordion-button {
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.mainBusiness .leftmenu .accordion-button:hover {
  background-color: #2f3131 !important;
}

.mainBusiness .leftmenu .accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.mainBusiness .leftmenu .accordion-item {
  border: none;
  border-radius: 0px;
  background-color: transparent !important;
}

.mainBusiness .leftmenu .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0px;
}

.mainBusiness .leftmenu .active {
  background-color: #2f3131 !important;
}

.mainBusiness .leftmenu .accordion-body {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.mainBusiness .leftmenu .noChild .accordion-button::after {
  display: none;
}

.mainBusiness .main .content table.dataTable thead th,
.mainBusiness .main .content table.dataTable thead td {
  padding: 10px;
}

.mainBusiness .main .content .dataTables_wrapper {
  color: #fff !important;
}

.mainBusiness .main .content .dataTables_wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainBusiness .main .content .dataTables_wrapper input {
  color: #fff !important;
}

.mainBusiness .main .content .dataTables_wrapper select {
  color: #fff;
}

.mainBusiness .main .content .dataTables_wrapper select option {
  color: #fff;
  background-color: #e95f71;
}

.mainBusiness .main .content table.dataTable tbody tr {
  background: transparent;
  cursor: copy;
}

.mainBusiness .main .content table.display {
  position: relative;
  color: #fff !important;
}

.mainBusiness .main .content table.display a {
  color: #fff;
}

.mainBusiness .main .content table.display a:hover {
  color: #e95f71;
}

.mainBusiness .main .content table.display .dataTables_length {
  position: absolute;
  right: 0 !important;
}

.mainBusiness .main .content table.display input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 5px !important;
}

.mainBusiness .main .content table.display .selected {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.mainBusiness .main .content table.display td {
  border: none;
}

.mainBusiness .main .content table.display td {
  background-color: transparent !important;
}

.mainBusiness .main .content .nav-tabs {
  border: none;
}

.mainBusiness .main .content .nav-tabs .nav-link {
  border-radius: 0px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 40px;
}

.mainBusiness .main .content .nav-tabs .active {
  color: #fff;
  border-bottom-color: transparent;
}

.stats .infowrapper {
  margin-top: 20px;
  background-color: #2f3131;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.stats .infowrapper::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  top: 10px;
  left: 10px;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.stats .infowrapper .number h3 {
  font-size: 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.stats .infowrapper .text-muted {
  margin-top: -20px;
}

.stats .infowrapper .icon {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #e95f71;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats .infowrapper .icon i {
  font-size: 30px;
}

.stats .infowrapper:hover::before {
  top: -10px;
  left: -10px;
}

.stats .infowrapper:hover h3 {
  color: #e95f71;
}

.addAddress {
  padding: 30px;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.addAddress:hover {
  border-style: solid;
}

.addAddress i {
  font-size: 25px;
  color: #e95f71;
}

.addAddressModal .modal-body {
  padding: 30px;
  background-color: #2f3131;
}

.addAddressModal .modal-content {
  background: #2f3131;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.form-select {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-color: transparent;
  color: #fff !important;
}

.form-select option {
  background-color: #2f3131 !important;
  color: #fff !important;
}

.form-select:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-color: transparent;
}

.modal .modal-content {
  background-color: #2f3131;
}

.modal .modal-content .modal-header {
  background-color: #2f3131;
  border-bottom: none;
}

.modal .modal-content .modal-footer {
  background-color: #2f3131;
  border-top: none;
}

.modal .modal-content .modal-body {
  border: none;
}

.actionToggler .actions .action i {
  font-size: 30px;
}

.imageHover {
  position: relative;
}

.imageHover .original {
  position: absolute;
  top: 8px;
  left: calc(100% - 50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 200px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 200px;
  z-index: 9999;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.imageHover:hover .original {
  opacity: 1;
  visibility: visible;
  top: 8px;
  left: 100%;
}

@-webkit-keyframes fadeInRight {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.login {
  background-color: #2f3131;
}

.login .rightpart {
  background-color: #e95f71;
  height: 100%;
  color: #fff;
}

.login .rightpart .imageText {
  position: relative;
  margin-bottom: 30px;
  height: 100px;
}

.login .rightpart .imageText::before {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.login .rightpart .imageText img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.login .rightpart .imageText .title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 20px;
  z-index: 99;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.login .rightpart a {
  color: #fff;
}

.login .rightpart .form-floating {
  color: #2f3131;
}

.login .leftpart .owl-carousel {
  position: relative;
}

.login .leftpart .owl-carousel .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.login .leftpart .owl-carousel .owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid #fff;
}

.login .leftpart .owl-carousel .owl-dots .active {
  border: 2px solid #fff;
  background-color: #e95f71;
}

.login .leftpart img {
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.register {
  background-color: #2f3131;
  color: #fff;
}

.register .header {
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .header .logowrapper img {
  height: 60px;
  -webkit-filter: brightness(1) invert(1);
          filter: brightness(1) invert(1);
}

.register .registerOne {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.register .registerOne .profile_details .data {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.register .registerOne .profile_details .data .icon {
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .registerOne .profile_details .data .icon i {
  font-size: 30px;
}

.register .registerOne hr {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 425px) {
  .register .registerOne {
    padding: 30px 0;
    height: auto !important;
  }
}

.register .registerOne a {
  color: #2f3131;
}

.register .registerOne .card {
  padding: 0px;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
}

@media (max-width: 425px) {
  .register .registerOne .card {
    margin-bottom: 30px;
  }
}

.register .registerOne .card::before {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 0;
  right: 0;
  bottom: 0;
}

.register .registerOne .card::after {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  left: 0;
  right: 0;
  bottom: 0;
}

.register .registerOne .card .content {
  position: relative;
  z-index: 99;
  padding: 30px;
  height: 100%;
  width: 100%;
}

.register .registerOne .card .title {
  margin: 30px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.register .registerOne .card .icon i {
  font-size: 50px;
  color: #e95f71;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.register .registerOne .card .text {
  opacity: 0.7;
}

.register .registerOne .card:hover {
  border: 1px solid transparent;
}

.register .registerOne .card:hover::before {
  -webkit-transform: scale(1) rotate(5deg);
          transform: scale(1) rotate(5deg);
}

.register .registerOne .card:hover::after {
  -webkit-transform: scale(1) rotate(10deg);
          transform: scale(1) rotate(10deg);
}

.register .registerOne .card:hover .title {
  color: #e95f71;
}

.register .registerOne .card:hover .icon i {
  font-size: 50px;
  color: #2f3131;
}

.register .registerOne .step-section {
  background-color: #595a5a;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.register .registerOne .step-section .stepwrapper {
  -webkit-column-gap: 25px;
          column-gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .registerOne .step-section .stepwrapper a {
  display: block;
  position: relative;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  border-radius: 5px;
}

.register .registerOne .step-section .stepwrapper a:hover {
  color: #fff;
  background-color: rgba(47, 49, 49, 0.3);
}

.register .registerOne .step-section .stepwrapper a:last-child::after {
  display: none !important;
}

.register .registerOne .step-section .stepwrapper a::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  content: "\f105";
  font-family: "Line Awesome Free";
  color: #e95f71;
  font-weight: 900;
  right: -20px;
}

.register .registerOne .step-section .stepwrapper .active {
  color: #fff;
  background-color: #2f3131;
}

@font-face {
  font-family: Mollen;
  src: url(../fonts/mollen-personal-use/MRegular.otf);
}

@font-face {
  font-family: Romelio;
  src: url(../fonts/romelio_sans/Romelio.otf);
}
/*# sourceMappingURL=styles.css.map */