.supportpage {
  .toggleForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    @include media("<=phone") {
      grid-template-columns: 1fr;
    }

    .formwrapper {
      display: none;
      width: 100%;
      background-color: rgba(#000, 0.1);
      padding: 25px;
      flex: 1;
    }
    .toggleForm {
      select {
        color: $p !important;
        option {
          color: $p !important;
        }
      }
    }
  }
  .relatedSupportIssues {
    background-color: rgba(#000, 0.1);
    padding: 25px;
    ul {
      margin: 0;
      li {
        a {
          display: block;
          padding: 10px 0;
          transition: all 0.5s ease;
          &:hover {
            color: $a;
            padding-left: 5px;
          }
        }
      }
    }
  }
  .supportWrapper {
    display: grid;
    gap: 25px;
    margin-top: 16px;
    grid-template-columns: repeat(5, 1fr);
    @include media("<=phone") {
      gap: 16px;

      grid-template-columns: repeat(2, 1fr);
    }

    .active {
      background-color: rgba($a, 1) !important;
      border: 1px solid rgba(#fff, 0.2) !important;
      box-shadow: 0px 10px 30px rgba(#000, 0.2) !important;
      i {
        color: #fff !important;
      }
      .text-muted {
        color: #fff !important;
      }
    }
  }
  .boxwrapper {
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
    border: 1px solid rgba(#fff, 0);

    i {
      font-size: 30px;
      transition: all 0.5s ease;
    }
    &:hover {
      background-color: rgba(#000, 0.1);
      border: 1px solid rgba(#fff, 0.2);
      box-shadow: 0px 10px 30px rgba(#000, 0.2);
      i {
        color: $a;
      }
    }
  }
}
