.today {
  .masonryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .masonryItem {
      background-color: rgba(#fff, 0.1);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > a {
        display: block;
        height: 100%;
        article {
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          figure {
            width: 100% !important;
          }
        }
      }
    }
  }
  .todayProduct {
    position: relative;

    &:hover {
      .info {
        .btn_p {
          box-shadow: 0px 10px 30px rgba($p, 0.8);
        }
      }
    }
    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 99;
      padding: 16px;
      width: 100%;
      //   background-color: rgba($gray, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .btn_p {
        padding: 10px 15px !important;
        text-transform: capitalize;
        font-size: 14px !important;
        background-color: $a;
        border-radius: 4px;
        &:hover {
          color: #fff;
        }
      }
    }

    figure {
      position: relative;
      &::before {
        background-color: rgba(#000, 0.5);
        height: 100%;
        width: 100%;
        border-radius: 10px;
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        z-index: 1;
      }
      img {
        opacity: 1;
        border-radius: 10px;
        width: 100%;
        max-height: 400px;
        height: 100%;
      }
      .caption {
        position: absolute;
        z-index: 99;
        top: 0;
        width: 100%;
        left: 0;
        padding: 16px;
        .text {
          font-weight: bolder;
        }
      }
    }
  }
  .collection {
    .info {
      top: 50% !important;
      height: 50% !important;
      transform: translate(-50%, -50%) !important;
      left: 50% !important;
      background-color: transparent !important;
      flex-direction: column !important;
      figure {
        position: relative;
        &::before {
          display: none !important;
        }
        img {
          opacity: 1;
          border-radius: 10px;
          width: 100%;
          min-height: 300px;
        }
      }
    }
  }
  .ads {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    .info {
      background-color: #fff !important;
      color: $p !important;
      height: 50% !important;
      top: 50% !important;
      flex-direction: column !important;
      bottom: 0 !important;
      align-items: flex-start !important;
      .btn {
        border-radius: 0px !important;
      }
    }
  }
  .withList {
    padding: 16px;
    .info {
      position: relative;
      border-radius: 10px !important;
    }
    .item {
      margin-bottom: 16px;
      background-color: rgba(#000, 0.2);
      img {
        width: 80px !important;
        height: 80px !important;
        object-fit: cover;
        object-position: center center;
      }
      &:hover {
        .shop {
          display: block !important;
        }
      }
      .pdetails {
        display: flex;
        position: relative;
        align-items: center !important;
        .shop {
          position: absolute;
          top: 0;
          padding: 16px;
          display: none;
          height: 100%;
          width: 100%;
          right: 0;
          background-color: $p;

          .btn_p {
            padding: 10px 15px !important;
            text-transform: capitalize;
            font-size: 14px !important;
            background-color: $a;
            border-radius: 4px;
            &:hover {
              color: #fff;
            }
          }
          .top {
            i {
              height: 30px;
              width: 30px;
              display: inline-block;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  article.post {
    .btn_p {
      padding: 10px 15px !important;
      text-transform: capitalize;
      font-size: 14px !important;
      background-color: $a;
      border-radius: 4px;
      &:hover {
        color: #fff;
      }
    }
    border-radius: 10px;
    .info {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    figure {
      img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}

.ads {
  .btn_p {
    padding: 10px 15px !important;
    text-transform: capitalize;
    font-size: 14px !important;
    background-color: $a;
    border-radius: 4px !important;
    &:hover {
      color: #fff;
    }
  }
}
